/.vs/
/UEFA.ChampionsLeague.Host/bin/
/UEFA.ChampionsLeague.Host/obj/
/UEFA.ChampionsLeague.Business/bin/
/UEFA.ChampionsLeague.Business/obj/
/UEFA.ChampionsLeague.Contracts/bin/
/UEFA.ChampionsLeague.Contracts/obj/
/UEFA.ChampionsLeague.Data/bin/
/UEFA.ChampionsLeague.Data/obj/
